* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  display: grid;
  grid-template-columns: 50% 50%;
}

.hero-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-left-content {
  background-color: #fef7e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10% 3% 10% 20%;
  text-align: center;
}

.hero-heading {
  margin-bottom: 20px;
}

.hero-para {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 40px;
}

.read-more {
  background-color: #e2781a;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 150px;
  border: none;
}

.read-more:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.sweets-section {
  background-image: url("images/sweetsBackground.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.sweets-heading {
  color: white;
}

.sweet-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.sweet-item {
  background-color: white;
  border-radius: 15px;
  width: 300px;
  padding: 30px;
}
.items-list {
  list-style: none;

  li {
    line-height: 30px;
  }
}

.our-bread-section {
  background-color: #e8b284;
  height: 1100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.our-bread-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  gap: 10px;
}

.bread-item {
  width: 300px;
  background-color: white;
  padding: 20px;
}

.bread-item-image {
  height: 200px;
  width: 260px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.item-name {
  margin-bottom: 10px;
}

.item-price {
  color: #e2781a;
  margin-bottom: 10px;
}

.item-description {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 15px;
}

.add-to-cart {
  background-color: black;
  color: white;
  font-size: 11px;
  font-weight: bold;
  padding: 5px;
  width: 120px;
  border-radius: 15px;
}

.subscribe-section {
  background-image: url("images/subscribeBackground.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0.9;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribe-content {
  width: 690px;
  padding-left: 250px;
}

.subscribe-heading1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.subscribe-heading2 {
  margin-bottom: 20px;
  line-height: 25px;
}

.subscribe-button {
  background-color: #e2781a;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 130px;
  border: none;
  font-weight: bold;
  font-size: large;
  margin-bottom: 20px;
}

.subscribe-para {
  font-size: 11px;
}

.footer-section {
  height: 400px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.footer-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-items-list {
  li {
    list-style: none;
    line-height: 30px;
    font-size: 12px;
  }

  li:hover {
    cursor: pointer;
    color: #e2781a;
    text-decoration: underline;
  }
}

.send-message {
  background-color: #e2781a;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 180px;
  border: none;
  font-weight: bold;
}

.social-media-links {
  color: #e2781a;
  fill: #e2781a;
}

.phone-icon {
  i {
    color: #e2781a;
    fill: #e2781a;
    padding-right: 20px;
  }
}
