* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  /* background-color: cornflowerblue;
  gap: 80px; */
  flex-direction: column;
  /* align-content: flex-start; */
  /* align-content: center; */
  align-content: center;
  height: 100vh;
  flex-wrap: wrap;
}

.container-1 {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
}

.container-2 {
  height: 100px;
  width: 100px;
  background-color: bisque;
}

.container-3 {
  height: 100px;
  width: 100px;
  background-color: chocolate;
}
