* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 10px;
}

.header,
.footer {
  background-color: rgb(231, 231, 87);
  padding-top: 10px;
  padding-left: 10px;
  grid-column: 1 / span 3;
  font-weight: bold;
}

.nav,
.article,
.adds {
  background-color: rgb(231, 231, 87);
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
}
